{% extends "soccer/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form class="fp" method="post"  enctype="multipart/form-data">
      {{formset.management_form}}
       {% csrf_token %}
   <div class="player-form-grid">
       <div class="keeper">
           <span class="make-po">キーパー</span>
           <span class="status-d">守備</span>
           <span class="make-po">ドリブル</span>
           <span class="make-po">パス</span>
           <span class="make-po">シュート</span>

           <br>
          {{formset.0.as_p}}
       </div>


        <div class="def">
          <span class="make-po">ディフェンス</span><br>
          {% for form in formset|slice:"1:5" %}
           {{form.as_p}}<br>
          {% endfor %}
        </div>

    <div class="mid">
        <span class="make-po">ミッドフィルダー</span><br>
         {% for form in formset|slice:"5:9" %}
        {{form.as_p}}<br>
        {% endfor %}
    </div>
    <div class="fw">
        <span class="make-po">フォワード</span><br>
         {% for form in formset|slice:"9:11" %}
        {{form.as_p}}<br>
        {% endfor %}
    </div>
   <div class="edit-team">
        <span style="background-color:rgb(255, 255, 255)">チームを編集する</span><br>
       {%for team in NumberOfTeams%}
       <a href="{% url 'update' team %}" class="btn btn--yellow btn--cubic">TEAM{{team}}</a><br>
       <br>
      {%endfor%}
   </div>


  </div>
    <button type="submit" >完了</button>
</form>
{% endblock %}