
{% load static %}


<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>カスタム認証チュートリアル</title>
</head>

<body>
<div class="container">
<div class="wrap">
<div class="content">
    <a href="{% url 'profile' %}" class="btn_top">PUSH !<br>ボタン</a>
  <button  onclick="location.href='{% url 'profile' %}'">ボタン</button>
  <p class="fadein txt01">1行目：テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  <p class="fadein txt02">2行目：テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  <p class="fadein txt03">3行目：テキストテキストテキストテキストテキストテキスト</p>
  <p class="fadein txt04">4行目：テキストテキストテキストテキストテキストテキスト</p>
  <p class="fadein txt05">5行目：テキストテキストテキスト</p>
  <p class="fadein txt06">6行目：by NatsukiMemo</p>
</div>
</div>
</div>
</body>






<!--<form  class = "fp" method="post" enctype="multipart/form-data">-->
<!--     {{formset.management_form}}-->
<!--       {% csrf_token %}-->

<!--          {% for form in  formset%}-->

<!--            {{ form.as_p }}<br>-->
<!--           {% endfor %}-->

<!--    <button type="submit" >Submit</button>-->
<!-- </form>-->

<!--{%for team in teams%}-->
<!--<a href=" {% url 'update' team %}" class="section">{{team}}</a>-->
<!--{%endfor%}-->




